.filter-menu-body {
  padding: 20px;
}

.filter-category {
  margin-bottom: 20px;
}

.filter-category-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-subcategories {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-subcategory {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter-apply-button-container {
  margin-top: 20px;
  text-align: center;
}

.filter-apply-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-apply-button:hover {
  background-color: #0056b3;
}
